# Cálculo de Rentabilidade de Portfolio - Cotização

## Configs iniciais

In [1]:
!pip -q install yfinance
!pip install matplotlib

WARNING: You are using pip version 21.3.1; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\guisa\Documents\Github\Processo Seletivo Brasil Capital\virtual\Scripts\python.exe -m pip install --upgrade pip' command.

In [5]:
import yfinance as yf
import pandas as pd
import numpy as np

import matplotlib
matplotlib.rcParams['figure.figsize'] = (18,8)
# matplotlib.style.use('seaborn-darkgrid')

## Ler input

In [9]:
arquivo = pd.read_csv('trades.csv')
arquivo

          data  ativo  quantidade  preço
0   2020-04-22  vale3         100  43.30
1   2020-04-22  petr4         200  16.25
2   2020-04-22  itsa4         400   9.07
3   2020-04-22  lren3         100  38.99
4   2020-04-22  mglu3         100  52.30
5   2020-05-12  vale3         100  48.52
6   2020-05-12  petr4         200  18.73
7   2020-05-12  itsa4         400   8.43
8   2020-05-12  lren3         200  33.89
9   2020-05-12  mglu3        2000  56.00
10  2020-05-14  petr4         300  17.40
11  2020-05-14  itsa4         400   8.23
12  2020-05-14  lren3         200  32.31
13  2020-05-14  cvcb3        1000  10.08
14  2020-05-21  mglu3        -500  58.80

## Criando tabelas com os dados dos arquivos

### Criando tabela com colunas para cada ativo e indexando por data

In [40]:
trade_quant = pd.pivot_table(data=arquivo, values='quantidade', index=['data'], columns=arquivo['ativo'].str.upper(), aggfunc=np.sum, fill_value=0)
trade_quant

ativo       CVCB3  ITSA4  LREN3  MGLU3  PETR4  VALE3
data
2020-04-22      0    400    100    100    200    100
2020-05-12      0    400    200   2000    200    100
2020-05-14   1000    400    200      0    300      0
2020-05-21      0      0      0   -500      0      0

### Criando tabela com os preços de compra e venda

In [41]:
trade_price = pd.pivot_table(data=arquivo, values='preço', index=['data'], columns=arquivo['ativo'].str.upper(), fill_value=0)
trade_price

ativo       CVCB3  ITSA4  LREN3  MGLU3  PETR4  VALE3
data
2020-04-22   0.00   9.07  38.99   52.3  16.25  43.30
2020-05-12   0.00   8.43  33.89   56.0  18.73  48.52
2020-05-14  10.08   8.23  32.31    0.0  17.40   0.00
2020-05-21   0.00   0.00   0.00   58.8   0.00   0.00

## Baixando as cotações dos ativos

In [59]:
prices = yf.download(tickers=(trade_quant.columns+'.SA').to_list(), start=trade_quant.index[0], rounding=True)['Adj Close']

[*********************100%***********************]  6 of 6 completed

In [60]:
prices.columns  = prices.columns.str.rstrip('.SA')
prices.dropna(how='all', inplace=True)
prices

            CVCB3  ITSA4  LREN3    MGLU3  PETR4  VALE3
Date
2020-04-22  13.97   7.77  39.28  12.5421   9.09  32.05
2020-04-23  13.10   7.67  37.86  12.2742   9.20  32.50
2020-04-24  11.28   7.29  36.16  11.7556   8.66  32.69
2020-04-27  11.63   7.52  37.11  12.2816   8.93  33.28
2020-04-28  13.31   8.05  38.60  12.8523   9.36  33.32
...           ...    ...    ...      ...    ...    ...
2022-08-09   7.07   9.30  26.86   3.0800  30.32  66.55
2022-08-10   7.03   9.35  27.97   3.2900  30.22  66.60
2022-08-11   6.94   9.32  27.24   3.0400  29.52  68.92
2022-08-12   7.15   9.44  27.69   3.5800  31.71  69.80
2022-08-15   7.83   9.45  28.63   4.0400  31.72  68.30

[576 rows x 6 columns]

In [74]:
trades = trade_quant.reindex(index=prices.index.astype(str).to_list())
trades.fillna(value=0, inplace=True)
trades

ativo       CVCB3  ITSA4  LREN3  MGLU3  PETR4  VALE3
data
2020-04-22    0.0  400.0  100.0  100.0  200.0  100.0
2020-04-23    0.0    0.0    0.0    0.0    0.0    0.0
2020-04-24    0.0    0.0    0.0    0.0    0.0    0.0
2020-04-27    0.0    0.0    0.0    0.0    0.0    0.0
2020-04-28    0.0    0.0    0.0    0.0    0.0    0.0
...           ...    ...    ...    ...    ...    ...
2022-08-09    0.0    0.0    0.0    0.0    0.0    0.0
2022-08-10    0.0    0.0    0.0    0.0    0.0    0.0
2022-08-11    0.0    0.0    0.0    0.0    0.0    0.0
2022-08-12    0.0    0.0    0.0    0.0    0.0    0.0
2022-08-15    0.0    0.0    0.0    0.0    0.0    0.0

[576 rows x 6 columns]

In [88]:
trades

ativo       CVCB3  ITSA4  LREN3  MGLU3  PETR4  VALE3
data
2020-04-22    0.0  400.0  100.0  100.0  200.0  100.0
2020-04-23    0.0    0.0    0.0    0.0    0.0    0.0
2020-04-24    0.0    0.0    0.0    0.0    0.0    0.0
2020-04-27    0.0    0.0    0.0    0.0    0.0    0.0
2020-04-28    0.0    0.0    0.0    0.0    0.0    0.0
...           ...    ...    ...    ...    ...    ...
2022-08-09    0.0    0.0    0.0    0.0    0.0    0.0
2022-08-10    0.0    0.0    0.0    0.0    0.0    0.0
2022-08-11    0.0    0.0    0.0    0.0    0.0    0.0
2022-08-12    0.0    0.0    0.0    0.0    0.0    0.0
2022-08-15    0.0    0.0    0.0    0.0    0.0    0.0

[576 rows x 6 columns]

In [89]:
trade_price

ativo       CVCB3  ITSA4  LREN3  MGLU3  PETR4  VALE3
data
2020-04-22   0.00   9.07  38.99   52.3  16.25  43.30
2020-05-12   0.00   8.43  33.89   56.0  18.73  48.52
2020-05-14  10.08   8.23  32.31    0.0  17.40   0.00
2020-05-21   0.00   0.00   0.00   58.8   0.00   0.00

In [86]:
aportes = (trades * trade_price)
aportes

ativo       CVCB3   ITSA4   LREN3   MGLU3   PETR4   VALE3
data
2020-04-22    0.0  3628.0  3899.0  5230.0  3250.0  4330.0
2020-04-23    NaN     NaN     NaN     NaN     NaN     NaN
2020-04-24    NaN     NaN     NaN     NaN     NaN     NaN
2020-04-27    NaN     NaN     NaN     NaN     NaN     NaN
2020-04-28    NaN     NaN     NaN     NaN     NaN     NaN
...           ...     ...     ...     ...     ...     ...
2022-08-09    NaN     NaN     NaN     NaN     NaN     NaN
2022-08-10    NaN     NaN     NaN     NaN     NaN     NaN
2022-08-11    NaN     NaN     NaN     NaN     NaN     NaN
2022-08-12    NaN     NaN     NaN     NaN     NaN     NaN
2022-08-15    NaN     NaN     NaN     NaN     NaN     NaN

[576 rows x 6 columns]

In [92]:
aportes

ativo       CVCB3   ITSA4   LREN3   MGLU3   PETR4   VALE3
data
2020-04-22    0.0  3628.0  3899.0  5230.0  3250.0  4330.0
2020-04-23    NaN     NaN     NaN     NaN     NaN     NaN
2020-04-24    NaN     NaN     NaN     NaN     NaN     NaN
2020-04-27    NaN     NaN     NaN     NaN     NaN     NaN
2020-04-28    NaN     NaN     NaN     NaN     NaN     NaN
...           ...     ...     ...     ...     ...     ...
2022-08-09    NaN     NaN     NaN     NaN     NaN     NaN
2022-08-10    NaN     NaN     NaN     NaN     NaN     NaN
2022-08-11    NaN     NaN     NaN     NaN     NaN     NaN
2022-08-12    NaN     NaN     NaN     NaN     NaN     NaN
2022-08-15    NaN     NaN     NaN     NaN     NaN     NaN

[576 rows x 6 columns]